@import '../../assets/vars';

.call-control {
    &__container {
        background: #8080804f;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        right: 20px;
        z-index: 100;
    }

    &__move{
        position: absolute;
        left: 0;
        top: 0;
        // width: 15px;
        // height: 15px;
        // background-color: black;
        transform: rotate(0deg);
        transition: all 0.5s ease;
        padding: 5px;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &__status {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 0;
            font-size: 19px;
            font-weight: 500;

            // &:before {
            //     content: '';
            //     display: block;
            //     width: 10px;
            //     height: 10px;
            //     border-radius: 10px;
            //     //background-color: $color-but-green;
            // }
        }
        &__indicator{
            content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
        }
    }
}