@import '../../assets/vars';

.call-control {
    &__container {
        background: #8080804f;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        right: 20px;
        z-index: 100;
    }

    &__move {
        position: absolute;
        left: 0;
        top: 0;
        // width: 15px;
        // height: 15px;
        // background-color: black;
        transform: rotate(0deg);
        transition: all 0.5s ease;
        padding: 5px;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &__status {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 0;
            font-size: 19px;
            font-weight: 500;

            // &:before {
            //     content: '';
            //     display: block;
            //     width: 10px;
            //     height: 10px;
            //     border-radius: 10px;
            //     //background-color: $color-but-green;
            // }
        }

        &__indicator {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }
    }

    &__number-panel {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        //row-gap: 10px;
        //padding: 10px 0;
        //column-gap: 20px;
        //padding-left: 4px;
        max-width: 201px;
        justify-content: center;
        // column-gap: 19px;
        // row-gap: 10px;
        &__number {
            display: flex;
            position: relative;
            /* width: 100%; */
            justify-content: space-between;
        }

        &__input {
            &__input {
                max-width: 173px;
                font-size: 26px;
                text-align: center;
                background: none;
                border: 0;
            }
        }

        &__backspace-icon {
            color: black;
            cursor: pointer;
            width: 23px;
            &:hover{
                fill: white;
            }
        }

        &__x-icon {
            position: absolute;
            top: -7px;
            left: 0;
            color: red;
            width: 15px;
            cursor: pointer;
        }

        &__elem {
            //margin: 5px 11px;
            /* text-align: center; */
            width: 29.33%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-radius: 28px;
            border: 0;
            padding: 10px 0;
            background: #cdcdcd;
            
            cursor: pointer;

            &:hover {
                background-color: rgb(255, 255, 255);
            }
        }
    }
}