.container {
    border-radius: 8px;
    width: -webkit-fill-available;
    border: 0;
    border-bottom: 2px;
    border: 1px solid #B8BBC6;
    padding: 5px;
    position: relative;
    background: transparent;

    &.focused{
        border-color: var(--focus-color);
    }
    &.error{
        border-color: var(--disproof-color);
    }
    &.valid{
        border-color: var(--proof-color);
    }
}