@import '../../assets/vars';

.operator-page{
    &__container{
        display: flex;
        gap: 20px;
        height: 100%;
    }
    &__right{
        &__wrapper{
            width: -webkit-fill-available;
            height: 100%;
        }
        
    }
    &__left{
        &__wrapper{
            height: 100%;
        }
    }
    &__client{
        
    }
    &__history{
        
    }
    &__control{
        
    }
    &__task-edit{
        
    }
}