@import '../../assets/vars';

.sidebar-header-layout{
    &__container{
        display: flex;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__content{
        padding: 10px;
        height: calc(100vh - 123px);
        position: relative;
    }
}