.table{
    &__filters {
        &.button {
            border: 2px solid #fff;
            width: 72px;
            height: 30px;
        }

        &__container {
            position: absolute;
            background: var(--table-header-bg);
            margin: 0 10px;
            top: -20px;
            width: -webkit-fill-available;
            height: 62px;
            border-radius: 5px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            z-index: 3;
        }

        &__control {
            margin-right: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__group {
            display: flex;
            height: 100%;

            &__elem {
                padding: 0 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background: none;
                border: 0;
                font-family: 'Roboto';
                color: white;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;

                &.active {
                    background: rgb(32 115 171);

                    &::after {
                        content: "";
                        background: rgb(6 85 131 / 39%);
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        top: 50px;
                        left: 0px;
                        width: -webkit-fill-available;
                    }
                }
            }
        }
    }
}