.button {
    background-color: var(--button-primary-bgcolor);
    color: var(--button-primary-color);
    border: 2px solid #4C7DE7;
    border-radius: 10px;
    height: 35px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Roboto';
    &:hover {
        background-color: var(--button-primary-bgcolor-hover);
        color: var(--button-primary-color-hover);
    }
}