.input-field {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__label {
        padding: 5px;
        font: var(--font-label-input);
    }

    &__input {
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #CDD1DF 0%, #E2E5F0 12.27%, #FFFFFF 100%);
        border: 1px solid #B8BBC6;
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        height: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.2px;
        color: #93959d;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.72);
        padding-left: 12px;

        &:focus-visible {
            outline: none;
        }

        &.error {
            border-color: var(--disproof-color)
        }

        &.valid{
            border-color: var(--proof-color)
        }

        &.focused{
            border-color: rgb(68, 68, 68);
        }

        &.readonly {
            background: transparent;
            border: 0;
            box-shadow: none;
            color: var(--primary-color);
            border-bottom-style: none;
            padding-left: 0;
            padding-right: 12px;
            font-size: 13px;
        }
    }

    &__error {
        color: var(--disproof-color);
        padding: 5px 5px 0 5px;
        font-size: 14px;
    }
}