.card-layout {
    &__container {}

    &__title {
        font-size: 19px;
        font-weight: 500;
        margin: 10px 0 10px 20px;
        display: flex;
        gap: 5px;
        align-items: center;
    }

    &__wrapper {
        background: var(--card-bg);
        border-radius: 5px;
        padding: 20px;
        font-size: 14px;
    }
}