@import '../../assets/vars';

.auth {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: min-content;

        //height: calc(100vh - 20px);
        justify-content: center;
        transform: translateY(-32px);
        height: calc(100vh - 86px);
    }

    &__container {
        display: flex;
        height: 100vh;
    }

    &__notifications {
        &__wrapper {
            bottom: 10px;
            position: absolute;
            left: 10px;

        }
    }

    &__left-side {
        //background: white;
        width: 50vw;
        position: relative;
    }

    &__right-side {
        background: #197DD2;
        width: calc(50vw - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border-radius: 5px;
        height: calc(100% - 20px);
    }
}