@import '../../assets/vars';

.auth {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: min-content;
        
        //height: calc(100vh - 20px);
        justify-content: center;
        transform: translateY(-32px);
        height: calc(100vh - 86px);
    }

    &__container {
        display: flex;
        height: 100vh;
    }

    &__left-side {
        //background: white;
        width: 50vw;
    }

    &__right-side {
        background: #197DD2;
        width: calc(50vw - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border-radius: 5px;
        height: calc(100% - 20px);
    }

    &__message {
        &__container {
            width: 400px;
            
            overflow: auto;
            max-height: calc(100% - 90px);
            &::-webkit-scrollbar{
                display: none;
            }
        }

        &__wrapper {
            display: grid;
        }

        &__elem {
            justify-self: flex-start;
            background: #1e5887;
            border-radius: 8px;
            padding: 8px;
            color: white;
            margin: 5px 0;
            display: grid;
            grid-template-areas:
                "text text"
                "name time";
                row-gap: 8px;

            &.me {
                justify-self: flex-end;
                background: beige;
                border-radius: 8px;
                padding: 8px;
                color: black;
            }

            &__text {
                justify-self: flex-start;
                margin: 0;
                grid-area: text;
            }

            &__name {
                justify-self: flex-start;
                margin: 0;
                grid-area: name;
                font-size: 11px;
                opacity: 0.8;
            }

            &__time {
                justify-self: flex-end;
                margin: 0;
                font-size: 11px;
                grid-area: time;
            }
        }
    }
}