.container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    &.active {
        border-bottom: 3px solid var(--button-primary-bgcolor-hover);
        border-radius: 6px;
    }

}