@import '../../../assets/vars';

.header-input{
    display: flex;
    align-items: center;
    svg{
        position: absolute;
    }
    &__input{
        border: 0;
        color: black;
        text-align: center;
        font-family: 'Roboto';
        padding: 0;
        &::-webkit-input-placeholder{
            color: black;
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
        }
        &:focus{
            outline: none;
            text-align: left;
            
        }
        &:focus-visible{
            &::-webkit-input-placeholder{
                opacity: 0;
            }
        }
    }
}