@import '../../assets/vars';

.client {
    &__container {}

    &__phone{
        display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    color: #197DD2;
    }
}