//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;400;500;700&family=Source+Sans+Pro&display=swap');

//colors
$color-blue: #B3DCFD;
$color-error-red: #ff3333;
$color-white: #ffffff;
$color-black: #222020;

//button-colors

$color-but-blue: #197DD2;
$color-but-gray: #8C90A2;
$color-but-red: #EF466B;
$color-but-green: #1CA16A;