.container {
    border-radius: 5px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    max-width: 350px;
    z-index: 100;

    &.error {
        background-color: rgb(243 139 139 / 93%);
    }

    &.success {
        background-color: rgb(126 191 126 / 89%);
    }

    &.progress {
        background-color: rgba(85, 128, 221, 0.89);
    }

    &.right {
        animation: from-right 0.5s forwards;

        &.complete {
            animation: to-right 0.5s forwards;
        }
    }

    &.left {
        animation: from-left 0.5s forwards;

        &.complete {
            animation: to-left 0.5s forwards;
        }
    }
}

.title {
    color: var(--primary-text-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.file-list {
    font-size: 13px;
    font-weight: 500;
}

.progress-bar {
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: greenyellow;
}

@keyframes from-right {
    0% {
        //transform: translateX(120px);
        right: -104%;
    }

    100% {
        //transform: translateX(0px);
        right: calc(0% + 10px);
    }
}

@keyframes to-right {
    0% {
        //transform: translateX(0px);
        right: 0%;
    }

    30% {
        right: 10%;
    }

    100% {
        //transform: translateX(120px);
        right: -104%;
    }
}

@keyframes from-left {
    0% {
        //transform: translateX(120px);
        left: -104%;
    }

    100% {
        //transform: translateX(0px);
        left: 0%;
    }
}

@keyframes to-left {
    0% {
        //transform: translateX(0px);
        left: 0%;
    }

    30% {
        left: 10%;
    }

    100% {
        //transform: translateX(120px);
        left: -104%;
    }
}