@import '../../assets/vars';

.breadcrumbs{
    &__container{
        display: flex;
        align-items: center;
    }
    &__elem{
        display: flex;
        align-items: center;
        font-weight: 500;
        svg{
            color: black;
        }
        &.current{
            color: #197DD2;
            &:hover{
                color: #197DD2
            }
        }
        &:hover{
            color: #197dd269;
        }
    }
}