$sidebar-bg-color: #197DD2;
//linear-gradient(180deg,rgba(10,95,171,1) 0%, rgba(23,75,138,1) 0%, rgba(9,57,97,1) 77%);
//#a5cdee;
$sidebar-color: #fff;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #ffffff !default;
$submenu-bg-color: #badaf810 !default;
$submenu-bg-color-collapsed: #81b2e9ce !default;
$icon-bg-color: #a5cdee00 !default;
$icon-size: 35px !default;
$submenu-indent: 24px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;

@import  'react-pro-sidebar/dist/scss/styles.scss' ;

.pro-sidebar{
    &-inner{
        border-radius: 5px !important;
        border: 2px solid #197DD2; 
    }
    //min-height: calc(100vh - 10px) !important;
}

.pro-sub-menu{
    &.open{
        .pro-arrow-wrapper{
            right: 31px!important;
            .pro-arrow{
                //display: none !important;
                &::after{
                    display: block;
                    content: '—'!important;
                    font-size: 15px!important;
                }
            }
        }
    }
    .pro-arrow-wrapper{
        right: 27px!important;
        .pro-arrow{
            width: 0px !important;
            transform: none !important;
            border: 0 !important;
    padding: 0 !important;
    vertical-align: none !important;
            &::after{
                display: block;
                content: '+'!important;
            }
        }
    }
}