@import '../../assets/vars';

.auth-field {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    //align-items: center;

    &-input {
        &__container {
            width: 100%;
        }
        &__error{
            color: #e4f1f5;
            padding-left: 5px;
        }
        &__input {
            border: 0;
            height: 40px;
            border-radius: 10px;
            width: -webkit-fill-available;
            font-family: 'Roboto';
            font-size: 16px;
            padding-left: 15px;
            &:focus-visible {
                outline: none;
            }
        }
    }

    &__button {
        border-radius: 30px;
        border: 0;
        height: 40px;
        cursor: pointer;
    }

    &__buttons {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        &__elem {
            background: beige;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            font-size: 13px;
        }
    }
    &__hamburger{
        display: flex;
        gap: 3px;
        background: #1e5887;
        color: white;
        //height: 100%;
        align-items: center;
        padding: 6px 6px;
        font-size: 12px;
        border-radius: 10px;
        cursor: pointer;
    }
}