@import '../../assets/vars';

.demo-page{
    &__container{
        margin: 0 auto;
        display: flex;
        gap: 10px;
    }
    &__form{
        margin: 0 auto;
        &__elem{
            &:not(:first-child){
                margin: 10px 0;
            }
        }
    }
    &__table{
        margin: 0 auto;
    }
}