@import '../../assets/vars';

.auth-form{
    display: flex;
    gap: 10px;
    align-items: center;
    &-input{
        &__container{
            width: 100%;
        }
        &__input{
            border: 0;
            height: 40px;
            border-radius: 10px;
            width: 100%;
        }
    }
    &__button{
        border-radius: 30px;
        border: 0;
        height: 40px;
        cursor: pointer;
    }
}