@import '../../assets/vars';

.message {
    &__container {
        //width: 400px;
        position: sticky;
        top: 10px;
        overflow: auto;
        //overflow: auto;
        max-height: calc(100% - 40px);
        width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__wrapper {
        display: grid;
    }
}