.not-found-page {
    &__container {
        height: 100%;
        display: flex;
    }

    &__right-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__left-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 400px;
        height: 400px;
    }

    &__text {
        font-size: 24px;
        font-weight: 500;
    }
}