@import '../../assets/vars';

.call {
    &-icon {
        &:hover {
            outline: 2px solid white;
            outline-offset: -3px;
        }
    }

    &__number {
        font-size: 30px;
        font-weight: 700;
        color: #197DD2;
    }
}

.phone {
    padding: 8px;
    cursor: pointer;
    &:hover {
        border-radius: 30px;
        padding: 8px;
        outline-offset: -3px;
        outline: 1px solid white;
        background: $color-but-blue;
        color: white;
    }

}

.status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: $color-but-green;
    }
}

.punkt > ul{
    display: none;
}
.punkt:hover>ul{
    display: block;
}

.menu__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 20px;
    &__elem{
        background: #197dd24d;
    height: 40px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }
}

.submenu__list{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    // transform: translateY(40px);
    transition: opacity 0.5s ease;
    opacity: 0;
    top: 47px;
    &__elem{
        height: 40px;
        display: flex;
        align-items: center;
        width: 150px;
        background-color: #197cd246;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 10px;
        &:hover{
            color: white;
            background-color: #197cd256;
        }
    }
}

.menu__list__elem:hover>.submenu__list{
    display: block;
    //transform: translateY(51px);
    top: 47px;
    opacity: 1;
    
    cursor: pointer;
}

.select{
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.5s ease;
    display: none;
    height: 0;
    align-items: flex-start;
    &.visible{
        display: flex;
        height: auto;
        opacity: 1;
        transform: translateY(0px);
    }
}



.call-center{
    &__container{
        display: flex;
        gap: 20px;
    }
    &__control{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__table{
        width: -webkit-fill-available;
    }
    &__panel{

    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__main{
            &__number{
                font-size: 30px;
        font-weight: 700;
        color: #197DD2;
            }
        }
        &__last{

        }
    }
    &__task{
        width: -webkit-fill-available;
    }
}