.content {
    &__container {
        padding: 10px;
        height: calc(100vh - 123px);
        position: relative;
    }

    &__notifications__wrapper {
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
    }
}