@import '../../assets/vars';

.phone-input {
    &__label{
        padding: 5px;
        font-size: 16px;
        display: block;
    }
    &__error{
        color: $color-error-red;
        padding: 5px;
        font-size: 14px;
        margin: 0;
    }
    &__field {
        border-radius: 0 4px 4px 0;
        border-left: 0px;
        border: 1px solid black;
        font-size: 16px;
        width: 100px;
        padding-top: 3px;
        height: 26px;
        &.error{
            border: 1px solid $color-error-red;
        }
        &:focus-visible {
            outline: none;
        }
    }
}