@import '../../assets/vars';

tr,
td,
th {
    padding: 0;
}

.table {
    &__container {
        box-shadow: 4px 4px 12px 3px rgb(0 0 0 / 20%);
        border-radius: 5px;
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }
    &__scroll-wrapper{
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        position: sticky;
        margin: 0;
        bottom: 0px;
        background: white;
        &__counts {
            display: flex;
            gap: 20px;
            align-items: center;
            &__info {
                margin: 0 10px 0 0;
                font-size: 13px;
            }
        }
    }

    &__filters {
        &.button {
            border: 2px solid $color-white;
            width: 72px;
            height: 30px;
        }

        &__container {
            position: absolute;
            background: $color-but-blue;
            margin: 0 10px;
            top: -20px;
            width: -webkit-fill-available;
            height: 62px;
            border-radius: 5px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            z-index: 1;
        }

        &__control {
            margin-right: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__group {
            display: flex;
            height: 100%;

            &__elem {
                padding: 0 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background: none;
                border: 0;
                font-family: 'Roboto';
                color: white;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;

                &:hover {}

                &.active {
                    background: rgb(32 115 171);

                    &::after {
                        content: "";
                        background: rgb(6 85 131 / 39%);
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        top: 50px;
                        left: 0px;
                        width: -webkit-fill-available;
                    }
                }
            }
        }
    }

    &__wrapper {
        //background: $color-blue;
        font-family: 'Roboto';
        border-collapse: collapse;
        width: -webkit-fill-available;
        height: 100%;
    }

    &__header {
        position: sticky;
    top: 0;
    margin: 0;
        &__row {
            border-bottom: 1px solid #8080803d;
            box-shadow: 0px 10px 8px 0px rgb(34 60 80 / 20%);
        }

        &__elem {
            padding: 39px 5px 5px 5px;
            background: #fff;
            font-family: 'Roboto';
            font-weight: 400;
            color: #2e2828;
            color: $color-but-blue;
            text-align: left;
            height: 40px;
            &:not(:nth-child(-n+2)){
                min-width: 144px;
            }
        }
    }

    &__body {
        &__row {
            border-bottom: 1px solid #8080803d;

            &:nth-child(2n) {
                td {
                    background: #e4f1f5;
                    ;
                }
            }
        }

        &__elem {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 15px;
            color: #3c3232;

            &__wrapper {
                padding: 5px;
                background: #fff;
            }
        }

        &__empty {
            display: flex;
            justify-content: center;
        }
    }
}

// tr:nth-child(2n){
//             background-color: red;
//         }