@import '../../assets/vars';

tr,
td,
th {
    padding: 0;
}

.table {

    &__container {
        background: $color-blue;
        font-family: 'Roboto';
    }

    &__header {
        &__row {}

        &__elem {
            padding: 5px;
            background: #fff;
        }
    }

    &__body {
        &__elem {
            display: flex;
            justify-content: center;
            align-items: center;

            &__wrapper {
                padding: 5px;
                background: #fff;
            }
        }
    }
}