@import '../../assets/vars';

tr,
td,
th {
    padding: 0;
}

.table {
    &__container {
        height: 0;
        margin-bottom: 24;
        &.open{
            margin-bottom: 0;
            height: calc(100% - 20px);
        }
    }

    &__sub-container {
        box-shadow: 4px 4px 12px 3px rgb(0 0 0 / 20%);
        border-radius: 5px;
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }

    &__scroll-wrapper {
        -webkit-overflow-scrolling: touch;
        height: 0%;
        border-radius: 10px;
        transition: all 0.5s ease;
        //max-height: calc(100vh - 143px);
        overflow: auto;
        min-width: 527px;
        &.open{
            height: 100%;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: sticky;
        margin: 0;
        bottom: 0px;
        background: var(--table-cell-bg);
        z-index: 1;
        min-height: 30px;

        &__counts {
            display: flex;
            gap: 20px;
            align-items: center;

            &__info {
                margin: 0 10px 0 0;
                font-size: 13px;
            }
        }
    }

    &__wrapper {
        //background: $color-blue;
        font-family: 'Roboto';
        border-collapse: collapse;
        width: -webkit-fill-available;
        height: 100%;
    }

    &__header {
        position: sticky;
        top: 0;
        margin: 0;
        z-index: 1;

        &__row {
            border-bottom: 1px solid #8080803d;
            box-shadow: 0px 10px 8px 0px rgb(34 60 80 / 20%);
        }

        &__elem {
            padding: 39px 5px 5px 5px;
            background: var(--table-cell-bg);
            font-family: 'Roboto';
            font-weight: 400;
            //color: #2e2828;
            color: var(--table-th-color);
            text-align: center;
            height: 40px;

            &:not(:nth-child(-n+2)) {
                //min-width: 144px;
            }
        }
    }

    &__body {
        &__row {
            border-bottom: 1px solid #8080803d;
            min-height: 50px;
            height: 8vh;
            &:nth-child(2n) {
                td {
                    background: var(--table-body-row-bg-2);
                    ;
                }
            }

            &__size {
                height: 60px;

            }
        }

        &__elem {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 15px;
            color: var(--table-body-text-color);

            &__input {
                background: transparent;
                width: 100%;
                height: 100%;
                border: 0;
                font-family: "Roboto";
                font-weight: 400;
                font-size: 15px;
            }

            &__plus {
                text-align: center;
                //height: 100%;
                cursor: pointer;
                background: white;
            }
            &__x-icon{
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
            }

            &__wrapper {
                padding: 5px;
                background: var(--table-cell-bg);
                width: auto;
                position: relative;
            }
        }

        &__empty {
            display: flex;
            justify-content: center;
        }
    }
}

// tr:nth-child(2n){
//             background-color: red;
//         }