
.app.dark, .ReactModalPortal{
    --app-bg-color: #3d6293;

    --sidebar-bg: #0a3f6d;
    --sidebar-text-color: white;

    --header-bg: #0a3f6d;
    --header-text-color: white;

    --table-header-bg: #0a3f6d;
    --table-cell-bg: #3f5171;
    --table-th-color: #fff;
    --table-body-text-color: #fff;
    --table-body-row-bg-2: #3d6293;
    --table-body-row-bg-1: #3f5171;
    --table-bottom-bg: #0a3f6d;

    --card-bg: #0a3f6d;

    --primary-color: #e3e3e3;

    --calendar-border-color: #e3e3e3;




    --input-bg: rgb(37, 36, 36);
    --input-color: white;

    --button-hover-bgcolor: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(180deg, #FFFFFF 0%, #E7E9F3 85.74%, #D8DBE7 100%);

    --button-primary-bgcolor: #197DD2;
    --button-default-bgcolor: transparent;
    --button-danger-bgcolor: #ea4853;
    --button-access-bgcolor: #55917f;
    --button-disabled-bgcolor: #8C90A2;

    --button-primary-text-color: #fff;
    --button-default-text-color: #fff;
    --button-danger-text-color: #fff;
    --button-access-text-color: #fff;
    --button-disabled-text-color: #fff;

    --content-item-overlay-bg: #e6e6e9;
    --content-item-overlay-text-color: #252422;
}