.app.dark{
    --bg-color: #3d6293;;

    --sidebar-bg: #0a3f6d;
    --sidebar-text-color: white;

    --header-bg: #0a3f6d;
    --header-text-color: white;

    --table-header-bg: #0a3f6d;
    --table-cell-bg: #3f5171;
    --table-th-color: #fff;
    --table-body-text-color: #fff;
    --table-body-row-bg-2: #3d6293;
    --table-body-row-bg-1: #3f5171;
    --table-bottom-bg: #0a3f6d;
}