.app.light{
    --bg-color: #80808030;

    --sidebar-bg: #197DD2;
    --sidebar-text-color: white;

    --header-bg: white;
    --header-text-color: rgb(37, 36, 36);

    --table-header-bg: #197DD2;
    --table-cell-bg: #fff;
    --table-th-color: #197DD2;
    --table-body-text-color: #3c3232;
    --table-body-row-bg-2: #e4f1f5;
    --table-body-row-bg-1: #fff;
    --table-bottom-bg: #fff;
}