@import '../../../assets/vars';

.card-grid{
    &__container{
        display: flex;
    flex-wrap: wrap;
    }
    &__elem{
        max-width: 33%;
        flex: 0 1 33.3333%;
        font-size: 13px;
    }
    &__label{
        color: $color-but-blue;
    }
    &__value{

    }
}