.table-filter {
    &__container {
        background: white;
    }

    &__elems {
        display: flex;
        flex-wrap: wrap;
        padding-top: 47px;
        transition: all 0.5s ease;
        padding-left: 10px;
        background: var(--table-cell-bg);
    }

    &__elem {
        padding: 15px 5px 5px 5px;
        min-width: 224px;
        position: relative;
        z-index: 2;
        &__x-icon {
            position: absolute;
            top: 16px;
            right: 7px;
            width: 15px;
            cursor: pointer;
        }
    }

    &__label {
        position: absolute;
        top: 27px;
        font-size: 12px;
        left: 20px;
        transition: all 0.5s ease;
        color: gray;
        pointer-events: none;

        &.focused {
            left: 6px;
            top: -2px;
            font-size: 14px;
            color: black;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0 0 12px;
    }
}