@import '../../assets/vars';

.header{
    &__container{
        height: 81px;
        background: $color-white; 
        //border: 2px solid #818589;;
        //#197DD2;
        display: flex;
        align-items: center;
        padding: 0 20px;
        position: sticky;
        top: 0;
        z-index: 100;
        //color: $color-white;
        margin: 10px;
    border-radius: 5px;
    }
    &__left{
        display: flex;
        align-items: center;
    }
    &__middle{
        width: 100%;
        padding: 0 20px;
    }
    &__right{
        display: flex;
        gap: 20px;
        align-items: center;
    }
}