@import '../../assets/vars';
@import '../../assets/styles/index.scss';

.header {
    &__container {
        height: 81px;
        //background: var(--header-bg);
        background: transparent;
        color: var(--header-text-color);
        //border: 2px solid #818589;;
        //#197DD2;
        display: flex;
        align-items: center;
        padding: 0 20px;
        position: sticky;
        top: 0;
        z-index: 100;
        //color: $color-white;
        margin: 10px;
        border-radius: 5px;

        a {
            color: var(--header-text-color)
        }
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__middle {
        width: 100%;
        padding: 0 20px;
    }

    &__right {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}