@import '../../assets/vars';

.history {
    &__container {
        padding-left: 13px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 2px;
            /* height: 10px; */
            background: #0000005e;
            position: absolute;
            bottom: 14px;
            top: 18px;
            left: -12px;
        }
    }

    &__button {
        position: relative;

        &::before {
            content: "";
            display: block;
            background: rgba(0, 0, 0, 0.368627451);
            height: 2px;
            width: 26px;
            position: absolute;
            top: 50%;
            z-index: -1;
            left: -23px;
        }
    }

    &__icon {
        position: absolute;
        left: -1px;
        color: rgba(0, 0, 0, 0.368627451)
    }
}