@import '../../assets/vars';

.date-picker{
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__input{
        padding: 5px;
        border-radius: 4px;
        border: 1px solid;
        height: 18px;
        text-align: center;
    }
    &__label{
        padding: 5px;
    }
    &__error{
        color: $color-error-red;
        padding: 5px;
        font-size: 14px;
    }
}

.react-datepicker {
    font-family: 'Roboto';
    &__input{
        &-container{
            input{
                border: 1px solid #B8BBC6;
                &:focus-visible{
                    outline: none;
                }
            }
        }
    }
    &__header {
        background: #e4f1f5;
    }
  
    &__day {
        &--keyboard-selected {
            background: $color-but-blue !important;
        }
        &--selected{
            background: $color-but-blue !important;
        }
    }
  
    &__current-month {
        font-weight: 500;
        font-size: 0.944rem;
        font-family: 'Roboto';
    }
    &__time{
        &-list-item{
            &--selected{
                background: $color-but-blue !important;
            }
        }
    }
  }