@import '../../assets/vars';

.error-message{
    &__container{
        bottom: -88px;
        width: fit-content;
        height: 54px;
        border-radius: 4px;
        background: #ff00005e;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        font-size: 12px;
        position: absolute;
    }
}