@import './reset.scss';
@import './themes/dark.scss';
@import './themes/light.scss';
@import './variables/global.scss';

.app{
    -webkit-font-smoothing: antialiased;
    font: var(--font-m);
    overflow: hidden;
    background-color: var(--bg-color);
    height: 100vh;
    color: var(--primary-color);
    transition: background-color 0.5s ease;
}


//!!!Исключить в дальнейшем

li{
    color: var(--primary-color)
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 21px;
    margin-top: 0;
    font-weight: 500;
    color: var(--primary-color)
}

