@import '../../assets/vars';

.paginate{
    display: flex;
    list-style: none;
    width: fit-content;
    //background: $color-blue;
    margin: 0;
    //padding: 10px;
    padding: 0;
    //border-radius: 5px;
    //gap: 10px;
    align-items: center;
    font-weight: 700;
    .elem{
        //border: 2px solid;
        //padding: 4px 8px;
        //border-radius: 3px;
        cursor: pointer;
        width: fit-content;
        min-width: 30px;
        height: 30px;
        &:hover{
            background: rgb(126, 179, 248);
        }
        a{
            display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
        }
    }
    .active{
        cursor: pointer;
        background: $color-but-blue;
        //color: $color-blue !important;
        
        //border-color: black;
        a{
            color: $color-white;
        }
    }
    .next{
        cursor: pointer;
        width: 30px;
    height: 30px;
        a{
            display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
        }
        &:hover{
            background: rgb(126, 179, 248);
        }
    }
    .previos{
        cursor: pointer;
        width: 30px;
    height: 30px;
        a{
            display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
        }
        &:hover{
            background: rgb(126, 179, 248);
        }
    }
    .break{
        width: 30px;
    height: 30px;
        a{
            display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
        }
    }
}