.transition{
    &__container{
        posi
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.page-enter-active{
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0%{
       transform: translateX(-100vh)
    }
    100%{
        transform: translateX(0)
    }
}