@import '../../assets/vars';

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $color-white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), inset 0px 1px 1px rgba(255, 255, 255, 0.52);
    height: 32px;
    width: 97px;
    background: $color-but-blue;
    border: 0;
    border-radius: 4px;
    height: 32px;
    width: 97px;
    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(180deg, #FFFFFF 0%, #E7E9F3 85.74%, #D8DBE7 100%);
        border: 1px solid $color-but-blue;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        color: $color-but-blue;
    }
    &.green{
        background: $color-but-green;
        &:hover{
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(180deg, #FFFFFF 0%, #E7E9F3 85.74%, #D8DBE7 100%);
            color: $color-but-green;
            border: 1px solid $color-but-green;
        }
    }
    &.red{
        background: $color-but-red;
        &:hover{
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(180deg, #FFFFFF 0%, #E7E9F3 85.74%, #D8DBE7 100%);
            color: $color-but-red;
            border: 2px solid $color-but-red;
        }
    }
    &.white{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(180deg, #FFFFFF 0%, #E7E9F3 85.74%, #D8DBE7 100%);
        border: 1px solid $color-but-blue;
        color: $color-but-blue;
        &:hover{
            background: $color-but-blue;
            color: $color-white;
        }
    }
    &.disabled {
            background: $color-but-gray;
            color: $color-white;
            border: 0;
    }
}