// .input {
//     //background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #CDD1DF 0%, #E2E5F0 12.27%, #FFFFFF 100%);
//     background-color: #fff;
//     border: 1px solid #B8BBC6;
//     box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.12);
//     border-radius: 8px;
//     height: 32px;
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 14px;
//     letter-spacing: 0.2px;
//     color: #93959d;
//     text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.72);
//     padding-left: 12px;
//     position: relative;
//     overflow: hidden;
//     &:focus-visible {
//         outline: none;
//     }

//     &.error {
//         border-color: var(--disproof-color);
//     }

//     &.valid{
//         border-color: var(--proof-color)
//     }

//     &.focused{
//         border-color: rgb(68, 68, 68);
//     }

//     &.readonly {
//         background: transparent;
//         border: 0;
//         box-shadow: none;
//         color: var(--primary-color);
//         border-bottom-style: none;
//         padding-left: 0;
//         padding-right: 12px;
//         font-size: 13px;
//     }
// }

.input{
    border: none;
    &:focus-visible{
        outline: none;
        
    }
}

.container {
    //background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(180deg, #CDD1DF 0%, #E2E5F0 12.27%, #FFFFFF 100%);
    
    display: flex;
    // justify-content: center;
    align-items: center;
    width: fit-content;
    
    background-color: #fff;
    border: 1px solid #B8BBC6;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: #93959d;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.72);
    padding-left: 12px;
    position: relative;
    overflow: hidden;

    &.error {
        //border-color: var(--disproof-color);
        &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: var(--disproof-color);
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            bottom: 3px;
            left: 0px;
            width: 100%;
            height: 13px;
            background-color: #fff;
            z-index: 1;
            border-radius: 4px;
        }
    }

    &.valid{
        border-color: var(--proof-color)
    }

    &.focused{
        border-color: rgb(68, 68, 68);
    }

    &.readonly {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: var(--primary-color);
        border-bottom-style: none;
        padding-left: 0;
        padding-right: 12px;
        font-size: 13px;
    }
}