@import '../../assets/vars';

.uploader {
    &__container {
        width: auto;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__label {
        font-size: 17px;
        max-width: 300px;
        font-weight: 500;
    }

    &__drag-file {
        position: absolute;
        height: 100%;
        left: 10px;
        right: 10px;

        &.active {
            border: 3px dashed #197DD2;
            border-radius: 8px;
        }
    }
}